<!-- se-pre-con is the loading gif -->
<div class="se-pre-con"></div>
<div class="" id="header">
  <div class="container-fluid">
		<div class="navbar-header">
			<a href="/"><h1>TITLE</h1></a>
		</div>
		<div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/works/index">WORKS</a></li>
        <li><a href="/">STUDIO</a></li>
				<li><a href="/home/about">ABOUT</a></li>
        <li><a href="/home/contact" class="right-border">CONTACT</a></li>
        <li><a href="#"><span class="ion-social-facebook"></span></a></li>
        <li><a href="#"><span class="ion-social-twitter"></span></a></li>
        <li><a href="#"><span class="ion-social-youtube"></span></a></li>
        <li><a href="#"><span class="ion-social-vimeo"></span></a></li>
			</ul>
		</div>
	</div>
  <div class="container-fluid skinny-nav">
    <div>
			<ul class="nav navbar-nav navbar-left">
        <li>
          <div>
            <a href="#"><span class="ion-navicon-round"></span></a>
          </div>
        </li>
        <li>
          <div class="news">
            NEWS
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
