<%=  render 'navbar' %>
<section class="works">
  <div class="buffer">
  </div>
  <div class="vid-desc col-md-4">
    <h2>WATCH</h2>
    <h1>DOWNWARD DOG</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div class="vid-pic col-md-8 text-center">
    <div class="video">
      <iframe src="//player.vimeo.com/video/210321457?title=0&amp;byline=0&amp;portrait=0&amp;color=3a6774" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
  <div class="vid-pic col-md-8 text-center">
    <div class="video">
      <iframe src="//player.vimeo.com/video/209309952?title=0&amp;byline=0&amp;portrait=0&amp;color=3a6774" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
  <div class="vid-desc col-md-4">
    <h2>WATCH</h2>
    <h1>AUDIEN 2017 MIAMI</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div class="vid-desc col-md-4">
    <h2>WATCH</h2>
    <h1>NORTHBOUND</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div class="vid-pic col-md-8 text-center">
    <div class="video">
      <iframe src="//player.vimeo.com/video/208432684?title=0&amp;byline=0&amp;portrait=0&amp;color=3a6774" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
  <div class="vid-pic col-md-8 text-center">
    <div class="video">
      <iframe src="//player.vimeo.com/video/82123812?title=0&amp;byline=0&amp;portrait=0&amp;color=3a6774" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
  <div class="vid-desc col-md-4">
    <h2>WATCH</h2>
    <h1>SUDDENLY I FEEL LIGHT</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div class="vid-desc col-md-4">
    <h2>WATCH</h2>
    <h1>MERCEDES E63 AMG</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div class="vid-pic col-md-8 text-center">
    <div class="video">
      <iframe src="//player.vimeo.com/video/200015907?title=0&amp;byline=0&amp;portrait=0&amp;color=3a6774" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</section>
<%= render 'footer' %>
