<%=  render 'navbar' %>
<section class="projects-list">
  <div class="row">
    <div class="container">
      <div class="placeholder col-md-12 text-center">
        <div class="place-title">
            <h1>AMERICAN BARRELS</h1>
            <h5>Promo Video</h5>
            <a href="project1" class="ion-ios-plus-outline"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="separator-line">
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="placeholder col-md-12 text-center">
        <div class="place-title">
            <h1>AMERICAN BARRELS</h1>
            <h5>Promo Video</h5>
            <a href="project2" class="ion-ios-plus-outline"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="separator-line">
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="placeholder col-md-12 text-center">
        <div class="place-title">
            <h1>AMERICAN BARRELS</h1>
            <h5>Promo Video</h5>
            <a href="project3" class="ion-ios-plus-outline"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="separator-line">
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="placeholder col-md-12 text-center">
        <div class="place-title">
            <h1>AMERICAN BARRELS</h1>
            <h5>Promo Video</h5>
            <a href="project4" class="ion-ios-plus-outline"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="separator-line">
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="placeholder col-md-12 text-center">
        <div class="place-title">
            <h1>AMERICAN BARRELS</h1>
            <h5>Promo Video</h5>
            <a href="project5" class="ion-ios-plus-outline"></a>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'footer' %>
