<%= render 'navbar' %>
<!-- <div class="" id="footer">
  footer
</div> -->
<div id="fullpage">
	<div class="section active AMB first">
    <video loop data-autoplay muted data-keepplaying>
      <source data-src="/assets/American Barrels Rough Cut.mp4" type="video/mp4" />
    </video>
    <div class="tint">
    </div>
    <div class="title text-center">
      <div class="is-animated"><h4>AMERICAN BARRELS</h4></div>
      <div class="is-animated"><h5>PROMOTIONAL VIDEO</5></div>
      <div class="is-animated"><h6>#LETFREEDOMPOUR</h6></div>
      <button href="#" class="is-animated__button">See the project</button>
      <div class="vertical-line is-animated__single">
      </div>
    </div>
  </div>
	<div class="section second">
    <video loop data-autoplay muted data-keepplaying>
      <source data-src="/assets/Spring Break 2015.mp4" type="video/mp4" />
    </video>
    <div class="tint">
    </div>
    <div class="title text-center">
      <div class="is-animated"><h4>SPRING BREAK 2015</h4></div>
      <div class="is-animated"><h5>PROMOTIONAL VIDEO</h5></div>
      <div class="is-animated"><h6>#LETFREEDOMPOUR</h6></div>
      <button href="#" class="is-animated__button">See the project</button>
      <div class="vertical-line is-animated__single">
      </div>
    </div>
  </div>
	<div class="section third">
    <video loop data-autoplay muted data-keepplaying>
      <source data-src="/assets/A4 Test Shoot.mp4" type="video/mp4" />
    </video>
    <div class="tint">
    </div>
    <div class="title text-center">
      <div class="is-animated"><h4>AUDI A4 TEST SHOOT</h4></div>
      <div class="is-animated"><h5>PROMOTIONAL VIDEO</h5></div>
      <div class="is-animated"><h6>#LETFREEDOMPOUR</h6></div>
      <button href="#" class="is-animated__button">See the project</button>
      <div class="vertical-line is-animated__single">
      </div>
    </div>
  </div>
  <div class="section fourth">
    <video loop data-autoplay muted data-keepplaying>
      <source data-src="/assets/Heroes of America.mp4" type="video/mp4" />
    </video>
    <div class="tint">
    </div>
    <div class="title text-center">
      <div class="is-animated"><h4>HEROES OF AMERICA</h4></div>
      <div class="is-animated"><h5>PROMOTIONAL VIDEO</h5></div>
      <div class="is-animated"><h6>#LETFREEDOMPOUR</h6></div>
      <button href="#" class="is-animated__button">See the project</button>
      <div class="vertical-line is-animated__single">
      </div>
    </div>
  </div>
  <div class="section fifth">
    <video loop data-autoplay muted data-keepplaying>
      <source data-src="/assets/FJMOTORSPORTS Commercial.mp4" type="video/mp4" />
    </video>
    <div class="tint">
    </div>
    <div class="title text-center">
      <div class="is-animated"><h4>FJ MOTORSPORTS</h4></div>
      <div class="is-animated"><h5>PROMOTIONAL VIDEO</h5></div>
      <div class="is-animated"><h6>#LETFREEDOMPOUR</h6></div>
      <button href="#" class="is-animated__button">See the project</button>
      <div class="vertical-line is-animated__single">
      </div>
    </div>
  </div>
  <!-- <div class="section fp-auto-height footer">Footer</div> -->
</div>
